<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  {% if post.title %}
    <meta property="og:title" content="{{ post.title }}"/>
    <meta name="twitter:title" content="{{ post.title }}"/>
  {% elsif page.title %}
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="twitter:title" content="{{ page.title }}"/>
  {% else %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="twitter:title" content="{{ site.title }}"/>
  {% endif %}
  {% if page.title %}
    <meta property="og:type" content="article">
  {% else %}
    <meta property="og:type" content="website">
  {% endif %}
  {% if post.description %}
    <meta property="og:description" content="Matthew Jordan -- {{ post.description }}"/>
    <meta property="twitter:description" content="Matthew Jordan -- {{ post.description }}"/>
  {% elsif page.description %}
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="twitter:description" content="{{ page.description }}"/>
  {% else %}
    <meta property="og:description" content="{{ site.description }}"/>
    <meta property="twitter:description" content="{{ site.description }}"/>
  {% endif %}
  <meta property="og:url" content="https://mattyj612.com"/>
  <meta property="twitter:url" content="https://mattyj612.com"/>
  <meta property="og:image" content="{{ 'assets/img/prof_pic.png' }}"/>
  <meta name="twitter:image" content="{{ 'assets/img/prof_pic.png' }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@mattyj612"/>
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.jpeg' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <title>Matthew Jordan</title>
</head>
